<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="assets/reveal.js/dist/reset.css">
    <link rel="stylesheet" href="assets/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="assets/reveal.js/dist/theme/black.css" id="theme">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="assets/reveal.js/plugin/highlight/monokai.css" id="highlight-theme">
</head>

<body>

<div class="reveal">

     
    <div class="slides">
    
        <!--Place any standard opening slide here -->
        
       <!-- Example:
        <section>
            <h2>{{title}}</h2>
        </section> -->
        
        
        {{> body }} 
        
        <!--Place any standard closing slide here -->
        
    </div>

</div>


<script src="assets/reveal.js/dist/reveal.js"></script>
<script src="assets/reveal.js/plugin/zoom/zoom.js"></script>
<script src="assets/reveal.js/plugin/notes/notes.js"></script>
<script src="assets/reveal.js/plugin/search/search.js"></script>
<script src="assets/reveal.js/plugin/markdown/markdown.js"></script>
<script src="assets/reveal.js/plugin/highlight/highlight.js"></script>
<script>

    // Also available as an ES module, see:
    // https://revealjs.com/initialization/
    Reveal.initialize({
        controls: true,
        progress: true,
        center: true,
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
    });

</script>

</body>
</html>
